{% extends 'base.html.twig' %}

{% block title %}{% trans into locale %}home.page.home{% endtrans %}{% endblock %}
{% block importCss %}
<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}
{% block body %}
<section class="accueil">
    <article>
        <figure><img src="{{ asset('img/phone.gif') }}" alt="phone-with-arms-doing-tasks"></figure>
        <h1>{% trans into locale %}home.text.welcome{% endtrans %}!</h1>
        <p>
            <br>
            {% trans into locale %}home.text.text1{% endtrans %}
            <br>
            <br>
            {% trans into locale %}home.text.text2{% endtrans %}
            <br>
            <br>
                {% trans into locale %}home.text.text3{% endtrans %}
            <br>
            <br>
                {% trans into locale %}home.text.text4{% endtrans %}
            <br>
            <br>
            {% trans into locale %}home.text.text5{% endtrans %}: {% trans into locale %}home.text.text6{% endtrans %}
            <br>
            <br>
            {% trans into locale %}home.text.text7{% endtrans %}
            <br>
            <br>
        </p>
        <figure class="signature"><img src="{{ asset('img/signature.png') }}" alt="signature-Anne-Everard"></figure>
    </article>
    <footer>
        {% if locale is same as 'FR' %}
            <figure><img src="{{ asset('img/front.jpeg') }}" alt="image-cover-livre-boostez"></figure>
        {% endif %}
        {% if locale is same as 'NL' %}
            <figure><img src="{{ asset('img/boostezNL.jpg') }}" alt="image-cover-livre-boostez"></figure>
        {% endif %}
        {% if locale is same as 'EN' %}
            <figure><img src="{{ asset('img/boostezEN.jpg') }}" alt="image-cover-livre-boostez"></figure>
        {% endif %}
        <a href="https://www.google.com/">{% trans into locale %}home.button.discover{% endtrans %}</a>
        <a href="https://www.google.com/">{% trans into locale %}home.button.order{% endtrans %}</a>
    </footer>
</section>


 {% include 'partials/newsletter.html.twig' %}


{% endblock %}
