{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block importCss %}
<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}
{% block body %}
<section class="accueil">
    <article>
        <figure><img src="{{ asset('img/phoneWithArms.png') }}" alt="phone-with-arms-doing-tasks"></figure>
        <h1>Bienvenue dans l’univers « Boostez » !</h1>
        <p>
            <br>
            Passionnée par l’humain, j’observe, je lis, j’interroge pour mieux comprendre.
            <br>
            <br>
            Ces derniers temps je me suis penchée sur le monde du travail: qu’est-ce qui fait le bonheur au travail
            ? Comment se concentrer et se motiver pour atteindre ses objectifs ? La base, c’est d’être en forme
            physiquement : sommeil, alimentation, sport. Qu’est-ce qui marche ? Et comment gérer au mieux notre
            estime de nous, nos émotions, nos conflits, le stress ? Et le télétravail ? Quels sont les meilleurs trucs et
            astuces pour que tout le monde soit content ?
            <br>
            <br>
            <span class="blue600">I have a dream.
                <br>
                Que travailleurs et employeurs décident ensemble de booster le bien-être.
            </span>
            <br>
            <br>
            Allez hop, c’est parti !
            <br>
            <br>
            A bientôt
        </p>
        <div class="signature">AnneEverardSignature</div>
    </article>
    <footer>
        <figure><img src="{{ asset('img/front.jpeg') }}" alt="image-cover-livre-boostez"></figure>
        <a href="www.google.com">Découvrir</a>
        <a href="https://www.google.com/">Commander</a>
    </footer>
</section>


 


    {% set locale = app.request.locale %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans({}, "messages", locale) }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message|trans({}, "messages", locale) }}
        </div>
    {% endfor %}
<section class="newsletter">
    <article>
        <h1>Newsletter</h1>
        <p>Pour recevoir des informations sur les thématiques de «Booster», les conférences et séminaires, je vous invite à vous inscrire à ma newsletter.</p>
    </article>
    {{ form_start(form, {'action': path('app_newsletter.FR')}) }}
    {{ form_errors(form) }}
    <section>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
    </section>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</section>
{% endblock %}
