{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/books.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />{% endblock %}
{% block importJs %}
    <script src="{{ asset('js/carou.js') }}" defer></script>
{% endblock %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js" integrity="sha512-j+F4W//4Pu39at5I8HC8q2l1BNz4OF3ju39HyWeqKQagW6ww3ZF9gFcu8rzUbyTDY7gEo/vqqzGte0UPpo65QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<section class="books">
    {% for book in bookLocale %}
    <article>
        <figure><img src="{{asset('uploads/images/books')}}/{{book.image}}" alt="image-cover-livre-boostez"></figure>
        <section>
            <h1>{{ book.title}}</h1>
            <p>{{ book.description}}</p>
            <a href="www.google.com">Commander</a>
        </section>
    </article>
    {% endfor %}
    <footer>
        <header>
            <h1>Traduction :</h1>
        </header>
    </footer>
</section>


{# SLIDER #}
<section id="slider">
            <div class="container">
                <div class="subcontainer">
                    <div class="side-wrapper">
                        <div class="controller">
                            <div id="controls"> 
                                <button class="previous">Précédent</button>
                                <button class="next">Suivant</button>
                            </div>
                        </div>
                        <br>
                        <div class="my-slider">
                         {% for book in otherBooks %}
                            <div>
                                <div class="slide">
                                    <div class="slide-img img-1">
                                        <figure><img src="{{ asset('img/front.jpeg') }}" alt="image-cover-livre-boostez"></figure>
                                    </div>
                                    <div class="infoBooks">
                                        <h1>{{ book.title }}</h1>
                                        <h2>{{ book.language }}</h2>
                                        <a href="www.google.com">Commander</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
</section>


<section class="newsletter">
    <article>
        <h1>Newsletter</h1>
        <p>Pour recevoir des informations sur les thématiques de «Booster», les conférences et séminaires, je vous invite à vous inscrire à ma newsletter.</p>
    </article>
    {{ form_start(form, {'action': path('app_newsletter.FR', { 'locale': locale})}) }}
    {{ form_errors(form) }}
    <section>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
    </section>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</section>
{% endblock %}
