{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/books.css') }}">
{% endblock %}
{% block importJs %}
    <script src="{{ asset('js/carou.js') }}" defer></script>
{% endblock %}
{% block body %}
<section class="books">

    {% for book in bookLocale %}
    <article>
        <figure><img src="{{asset('uploads/images/books')}}/{{book.image}}" alt="image-cover-livre-boostez"></figure>
        <section>
            <h1>{{ book.title}}</h1>
            <p>{{ book.description}}</p>
            <a href="www.google.com">Commander</a>
        </section>
    </article>
    {% endfor %}
    <footer>
        <header>
            <h1>Traduction :</h1>
        </header>
        {# Récup img for carou  #}
        <div class="hideFakeCarou">
            {% for book in otherBooks %}
                <div class="imgCarou">
                    {# <figure><img src="{{ asset('img/{{ book.image }}') }}" alt="image-cover-livre-boostez"></figure> #}
                    <figure><img src="{{asset('img')}}/{{book.image}}" alt="image-cover-livre-{{book.title}}"></figure>
                    <h1>{{book.title}}</h1>
                    <h2>{{book.language}}</h2>
                    <a href="www.google.com">Commander</a>
                </div>
            {% endfor %}
        </div>
        {# Récup img for carou END  #}
         <button class="carouLeft">Left</button>
        <button class="carouRight">Right</button>
        <section class="caroussel">
            <div class="carouBoxs carou1">
                <figure><img src="{{ asset('img/front.jpeg') }}" alt="image-cover-livre-boostez"></figure>
                <h1>Boostez</h1>
                <h2>NL</h2>
                <a href="www.google.com">Commander</a>
            </div>
            <section class="barsCarou"></section>
            <div class="carouBoxs carou2">
                <figure><img src="{{ asset('img/front.jpeg') }}" alt="image-cover-livre-boostez"></figure>
                <h1>Boostez</h1>
                <h2>NL</h2>
                <a href="www.google.com">Commander</a>
            </div>
            <section class="barsCarou"></section>
            <div class="carouBoxs carou3">
                <figure><img src="{{ asset('img/front.jpeg') }}" alt="image-cover-livre-boostez"></figure>
                <h1>Boostez</h1>
                <h2>NL</h2>
                <a href="www.google.com">Commander</a>
            </div>
        </section>
    </footer>
</section>

<section class="newsletter">
    <article>
        <h1>Newsletter</h1>
        <p>Pour recevoir des informations sur les thématiques de «Booster», les conférences et séminaires, je vous invite à vous inscrire à ma newsletter.</p>
    </article>
    {{ form_start(form, {'action': path('app_newsletter.FR', { 'locale': locale})}) }}
    {{ form_errors(form) }}
    <section>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
    </section>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</section>
{% endblock %}
