{% extends 'base.html.twig' %}

{% block title %}Biographie{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/bio.css') }}">
{% endblock %}
{% block body %}
<section class="biography">
    <header>
        <figure><img src="{{ asset('img/anne-portrait.jpg') }}" alt="portrait-anne-everard-auteure-conferenciere-formatrice"></figure>
        <section>
            <h1>Biographie</h1>
            <p>Anne Everard est auteure, conférencière et formatrice. Passionnée par l’humain, elle est spécialisée dans le bien-être au travail et le bien-être global. Dans son corps et dans sa tête et de performer selon ses objectifs. Vous y trouverez de nombreux trucs et astuces ainsi qu’une méthode pour vous mettre en mouvement et tenir dans la durée.
        </section>
    </header>
    <article>
        <h1>Ils nous font déjà confiance</h1>
        <figure>
            <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance">
            {# <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance">
            <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance">
            <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance">
            <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance">
            <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance">
            <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance">
            <img src="{{ asset('img/orange.png') }}" alt="logo-marque-soutient-confiance"> #}
        </figure>
    </article>
</section>
{% endblock %}
