{% extends 'base.html.twig' %}

{% block title %}{% trans into locale %}boostez.pageTitle{% endtrans %}{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/boostez.css') }}">
{% endblock %}
{% block importJs %}
    <script src="{{ asset('js/boostez.js') }}" defer></script>
{% endblock %}
{% block body %}
<section class="boostez">
    <header>
        <figure><img src="{{ asset('img/helicopter.gif') }}" alt="illustration-helicopter-taking-flight"></figure>
        <div>
            <h1>{% trans into locale %}navbar.boost{% endtrans %}</h1>
            <p>
                {% trans into locale %}boostez.desc.part1{% endtrans %}
                <br>
                <br>
                {% trans into locale %}boostez.desc.part2{% endtrans %}
            </p>
        </div>
    </header>
    <section>
        <header>
            <h2>{% trans into locale %}boostez.contents{% endtrans %}</h2>
            <div class="btnTb">
                <i class="fa-solid fa-arrow-down"></i>
            </div>
        </header>
        <figure class="imgTb"><img src="{{ asset('img/tablematiere_'~locale~'.png') }}" alt="illustration-helicopter-taking-flight"></figure>

        {# Picture here with colum flex section  #}
    </section>
    <article>
        <h1>{% trans into locale %}boostez.company.title{% endtrans %}</h1>
        <p>
            {% trans into locale %}boostez.company.desc{% endtrans %}
        </p>
        <a href="{{ path('app_contact') }}">{% trans into locale %}boostez.company.contact{% endtrans %}</a>
    </article>
</section>
<section class="clientOpinion">
    {% for avis in review %}
        <div>
            <h1>{{avis.firstname}} {{avis.lastname}}</h1>
            {% if avis.company is defined and avis.company is not null %}
            <h2>{{ avis.company }}</h2>
            {% endif %}
            <p><span></span>{{avis.review}}<span></span></p>
        </div>
    {% endfor %}
</section>

    {% include 'partials/newsletter.html.twig' %}

{% endblock %}


