{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}
{% block body %}
<section class="contact">
    <header>
        <h1>Contact</h1>
{#        <h2>{% trans into locale %}contact.title{% endtrans %}</h2>#}
    </header>
    <article>
        {{ form_start(contactForm,{'action': path('app_mail.fr', {'locale': locale })}) }}
        <section>
            <div>
                {{ form_row(contactForm.firstname) }}
                {{ form_row(contactForm.lastname) }}
                {{ form_row(contactForm.company) }}
            </div>
            <div class="rForm">
                {{ form_row(contactForm.phoneNumber) }}
                {{ form_row(contactForm.email) }}
            </div>
        </section>
        <div class="formText">
            {{ form_row(contactForm.message) }}
        </div>
        {{ form_row(contactForm.submit) }}
        {{ form_end(contactForm) }}
    </article>
    <footer>
        <section>
            <p>Boostez {% trans into locale %}contact.info.srl{% endtrans %}</p>
            <h2>29, Avenue Reine Astrid</h2>
            <h2>1310 La Hulpe</h2>
            <h2>{% trans into locale %}contact.info.country{% endtrans %}</h2>
            <h2>{% trans into locale %}contact.info.tva{% endtrans %}: BE0785.970.412</h2>
            <h3>Tel: +32 485 779 206</h3>
            <h4>Mail: contact@50spoons.com</h4>

        </section>
        <figure><img src="{{ asset('img/phone.gif') }}" alt="phone-with-arms-doing-tasks"></figure>
    </footer>
</section>

    {% include 'partials/newsletter.html.twig' %}

{% endblock %}
