{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}
{% block body %}
<<<<<<< Updated upstream
<section class="contact">
    <header>
        <h1>Contact</h1>
        <h2>Vous êtes intéressé par «Boostez», par une conférence ou un atelier ?</h2>
    </header>
    <footer>
        <section>
            <p>Nos bureaux</p>
            <h1>Société Anne Ev.</h1>
            <h2>304 Chaussée de Bruxelles 1000 Belgique</h2>
            <h3>+32 475 784 322</h3>
            <h4>anneeverard@info.com</h4>

        </section>
        <figure><img src="{{ asset('img/phoneWithArms.png') }}" alt="phone-with-arms-doing-tasks"></figure>
    </footer>
</section>



=======

    {% set locale = app.request.locale %}
>>>>>>> Stashed changes


    {{ form_start(contactForm) }}
    {{ form_errors(contactForm) }}

    {{ form_row(contactForm.firstname) }}
    {{ form_row(contactForm.lastname) }}
    {{ form_row(contactForm.company) }}
    {{ form_row(contactForm.phoneNumber) }}
    {{ form_row(contactForm.email) }}

<<<<<<< Updated upstream
=======
    {{ form_row(contactForm.message) }}

    {{ form_row(contactForm.submit) }}
    {{ form_end(contactForm) }}
>>>>>>> Stashed changes



    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans({}, "messages", locale) }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message|trans({}, "messages", locale) }}
        </div>
    {% endfor %}



<section class="newsletter">
    <article>
        <h1>Newsletter</h1>
        <p>Pour recevoir des informations sur les thématiques de «Booster», les conférences et séminaires, je vous invite à vous inscrire à ma newsletter.</p>
    </article>
    {{ form_start(form, {'action': path('app_newsletter.FR')}) }}
    {{ form_errors(form) }}
    <section>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
    </section>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</section>
{% endblock %}
