<!DOCTYPE html>
<html>
    <head>
        {% set locale = app.request.locale %}
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('img/iconWebsite.ico') }}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="https://kit.fontawesome.com/0fa3a8b175.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# google font start  #}
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,700&display=swap" rel="stylesheet"> 
        {# google font end  #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {% block importCss %}
            {% endblock %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{#            {{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        {% block javascripts %}
            {% block importJs %}
            {% endblock %}
            <script src="{{ asset('js/base.js') }}" defer></script>
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        {{ flasher_render() }}
    </head>
    <body>
        <div id="goTop"><i class="fas fa-long-arrow-alt-up"></i></div>
        <header class="menuMain">
            <h1><a href="{{ path('app_home')}}">Anne Everard</a></h1>
            <ul>
                <li><a href="{{ path('app_home')}}">{% trans into locale %} navbar.home {% endtrans %}</a></li>
                <li><a href="{{ path('app_boostez') }}">{% trans into locale %} navbar.boost {% endtrans %}</a></li>
                <li><a href="{{ path('app_conference') }}">{% trans into locale %} navbar.keynotes {% endtrans %}</a></li>
                <li><a href="{{ path('app_books') }}">{% trans into locale %} navbar.books {% endtrans %}</a></li>
                <li><a href="{{ path('app_biography') }}">BIO</a></li>
                <li><a href="{{ path('app_contact') }}">CONTACT</a></li>
            </ul>
            {% block language %}
            <div class="language">
                <button class="btnLang"><i class="fa-solid fa-chevron-right"></i>{{ locale }}</button>
                <ol class="languageSelect">
                    {% if locale != 'FR' %}
                        <li><a href="{{ path(app.request.attributes.get('_route') ~ '.FR') }}">fr</a></li>
                    {% endif %}
                    {% if locale != 'NL' %}
                        <li><a href="{{ path(app.request.attributes.get('_route') ~ '.NL') }}">nl</a></li>
                    {% endif %}
                    {% if locale != 'EN' %}
                        <li><a href="{{ path(app.request.attributes.get('_route') ~ '.EN') }}">eng</a></li>
                    {% endif %}
                </ol>
            </div>
            {% endblock %}
        </header>

        {% block body %}{% endblock %}
        <footer class="footerMain">
        <div class="socialFoot">
            <p>{% trans into locale %} footer.social {% endtrans %}:</p>
            <nav>
                <ul>
                    <li><a href="https://www.facebook.com/anne.everard.9"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCeoVaRzyuzvrs1lag9LsnwA"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/everardanne/"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/anneeverard/"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="menuFoot">
            <ul>
                <li><a href="{{ path('app_redirect') }}">{% trans into locale %} navbar.home {% endtrans %}</a></li>
                <li><a href="{{ path('app_boostez') }}">{% trans into locale %} navbar.boost {% endtrans %}</a></li>
                <li><a href="{{ path('app_conference') }}">{% trans into locale %} navbar.keynotes {% endtrans %}</a></li>
                <li><a href="{{ path('app_books') }}">{% trans into locale %} navbar.books {% endtrans %}</a></li>
                <li><a href="{{ path('app_biography') }}">BIO</a></li>
                <li><a href="{{ path('app_contact') }}">CONTACT</a></li>
            </ul>
        </div>
        <div class="copyright">
            <h1><span>©</span> Anne Everard</h1>
            <h2>2022 - {% trans into locale %} footer.copyright.rights {% endtrans %}</h2>
            <h3>{% trans into locale %} footer.copyright.website {% endtrans %} Glenn Belmans & Ayra Stelmaszewski</h3>
        </div>
        </footer>
        
    </body>
</html>
