{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/conference.css') }}">
{% endblock %}
{% block language %}
{% endblock %}
{% block body %}
    {% set confInfo = app.request.pathInfo|split('/') %}

    <section class="zoomConference">
    <a class="retourBtn">
        <i class="fa-solid fa-arrow-down"></i>
        <a href="{{ path('app_conference') }}">Retour</a>
    </a>
    <header>
        <h1 class="{{ color }}">{{ confInfo[3] }} sommeil</h1>
        <h2 class="{{ color }}">pour les {{ confInfo[2] }}</h2>
    </header>
    <article>
         <iframe src="{{ conference.video }}"></iframe>
    </article>
    <footer>
        <h1>DANS CETTE CONFÉRENCE VOUS DÉCOUVRIREZ :</h1>
        <ul>
            <li>La différence entre fatigue, burn-out et dépression</li>
            <li>La différence entre fatigue, burn-out et dépression</li>
            <li>La différence entre fatigue, burn-out et dépression</li>
            <li>La différence entre fatigue, burn-out et dépression</li>
            <li>La différence entre fatigue, burn-out et dépression</li>
            <li>La différence entre fatigue, burn-out et dépression</li>
        </ul>
    </footer>
</section>
    {{ dump(conference) }}
{% endblock %}



