{% extends 'base.html.twig' %}
{% block title %}
{{ conference.name }}
{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/conference.css') }}">
{% endblock %}
{% block language %}
{% endblock %}
{% block body %}
    {% set confInfo = app.request.pathInfo|split('/') %}
    <section class="zoomConference">
    <a href ={{ path('app_conference') }} class="retourBtn">
        <i class="fa-solid fa-arrow-down"></i>
        <h1>Retour</h1>
    </a>
    <header>
        <h1 class="{{ color }}">{{ confInfo[3] }} {{ conference.name }}</h1>
        <h2 class="{{ color }}">pour les {{ confInfo[2] }}</h2>
    </header>
    <article>
         <iframe src="{{ conference.video }}"></iframe>
    </article>
    <footer>
        <h1>DANS CETTE CONFÉRENCE VOUS DÉCOUVRIREZ :</h1>
        <ul>
            {% for point in conference.point %}
            <li>{{ point }}</li>
            {% endfor %}
        </ul>
    </footer>
</section>
{% endblock %}



