{% extends 'base.html.twig' %}
{% block title %}
{{ conference.name }}
{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/conference.css') }}">
{% endblock %}
{% block language %}
{% endblock %}
{% block body %}
    {% set confInfo = app.request.pathInfo|split('/') %}

    <section class="zoomConference">
    <a href ={{ path('app_conference') }} class="retourBtn">
        <i class="fa-solid fa-arrow-down"></i>
        <h1>{% trans into locale %}conference.precise.back{% endtrans %}</h1>
    </a>
    <header>
        {% if locale == 'fr' %}
            {% if confInfo[3] == 'conference' %}
                <h1 class="{{ color }}">conférence {{ conference.name }}</h1>
            {% else %}
                <h1 class="{{ color }}">{{ confInfo[3] }} {{ conference.name }}</h1>
            {% endif %}
        {% else %}
            <h1 class="{{ color }}">{{ confInfo[3] }} {{ conference.name }}</h1>
        {% endif %}

        <h2 class="{{ color }}">{% trans into locale %}conference.precise.for{% endtrans %} {{ confInfo[2] }}</h2>
    </header>
    {% if conference.video is empty %}
    <footer class="noVidFoot">
        <h1>{% trans into locale %}conference.precise.inthisconf1{% endtrans %}
            {% if locale == 'fr' %}
                {% if confInfo[3] == 'atelier'%}cet
                {% elseif confInfo[3] == 'coaching'%}
                    ce
                {% else %}
                    cette
                {% endif %}
                {% if confInfo[3] == 'conference' %}
                    conférence
                {% else %}
                    {{ confInfo[3] }}
                {% endif %}
                {% else %}
                    {{ confInfo[3] }}
            {% endif %}


            {% trans into locale %}conference.precise.inthisconf2{% endtrans %}:</h1>
        <ul>
            {% for point in conference.point %}
            <li>{{ point }}</li>
            {% endfor %}
        </ul>
    </footer>
    {% else %}
    <article>
         <iframe src="{{ conference.video }}"></iframe>
    </article>
    <footer>
        <h1>{% trans into locale %}conference.precise.inthisconf1{% endtrans %}
            {% if locale == 'fr' %}
                {% if confInfo[3] == 'atelier'%}cet
                {% elseif confInfo[3] == 'coaching'%}
                    ce
                {% else %}
                    cette
                {% endif %}
                {% if confInfo[3] == 'conference' %}
                    conférence
                {% else %}
                    {{ confInfo[3] }}
                {% endif %}
                {% else %}
                    {{ confInfo[3] }}
            {% endif %}


            {% trans into locale %}conference.precise.inthisconf2{% endtrans %}:</h1>
        <ul>
            {% for point in conference.point %}
            <li>{{ point }}</li>
            {% endfor %}
        </ul>
    </footer>
    {% endif %}
    {# <footer>
        <h1>{% trans into locale %}conference.precise.inthisconf1{% endtrans %}
            {% if locale == 'fr' %}
                {% if confInfo[3] == 'atelier'%}cet
                {% elseif confInfo[3] == 'coaching'%}
                    ce
                {% else %}
                    cette
                {% endif %}
                {% if confInfo[3] == 'conference' %}
                    conférence
                {% else %}
                    {{ confInfo[3] }}
                {% endif %}
                {% else %}
                    {{ confInfo[3] }}
            {% endif %}


            {% trans into locale %}conference.precise.inthisconf2{% endtrans %}:</h1>
        <ul>
            {% for point in conference.point %}
            <li>{{ point }}</li>
            {% endfor %}
        </ul>
    </footer> #}
        <div class="ctcConf margConf">
            <a class="ctcConf" href="{{ path('app_contact') }}">{% trans into locale %}boostez.company.contact{% endtrans %}</a>
        </div>
</section>
{% endblock %}



