{% extends 'base.html.twig' %}

{% block title %}Conférences{% endblock %}

{% block body %}

<section class="conferences">
    <section class="confEntreprise">
        <header>
            <div>
                <h1>Pour les entreprises</h1>
                <h2>Découvrez nos conférences et ateliers</h2>
            </div>
            <figure><img src="{{ asset('img/cerveau.gif') }}" alt="illustration-helicopter-taking-flight"></figure>
        </header>
        <article>
            <h1>Conférences</h1>
            <section>
                <a>Boostez</a>
                <a>Boostez</a>
                <a>Boostez</a>
                <a>Boostez</a>
            </section>
            <h2>Ateliers</h2>
            <section>
                <a>Boostez</a>
                <a>Boostez</a>
                <a>Boostez</a><a>Boostez</a><a>Boostez</a><a>Boostez</a>
                <a>Boostez</a>
            </section>
        </article>
    </section>
</section>

{{ dump(businessConf) }}
{{ dump(businessWorkshop) }}
{{ dump(privateWorkshop) }}
{{ dump(privateRetreat) }}


    <hr>


    {% set locale = app.request.locale %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans({}, "messages", locale) }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message|trans({}, "messages", locale) }}
        </div>
    {% endfor %}
    {{ form_start(form, {'action': path('app_newsletter.FR')}) }}
    {{ form_errors(form) }}

    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}

    {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}
