{% extends 'base.html.twig' %}

{% block title %}Conférences{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/conference.css') }}">
{% endblock %}
{% block body %}

<section class="conferences">
    <section class="confEntreprise">
        <header>
            <div>
                <h1 class="red">Pour les entreprises</h1>
                <h2>Découvrez nos conférences et nos ateliers</h2>
            </div>
            <figure><img src="{{ asset('img/cerveau.gif') }}" alt="illustration-helicopter-taking-flight"></figure>
        </header>
        <article>
            <h1>Conférences</h1>
            <section>
                {% for conf in businessConf %}
                    <a href="{{ path('app_business_conference', {'slug': conf.slug}) }}" class="bgRed">{{ conf.name }}</a>
                {% endfor %}
            </section>
            <h2>Ateliers</h2>
            <section>
                {% for conf in businessWorkshop %}
                    <a href="{{ path('app_business_workshop', {'slug': conf.slug}) }}" class="bgRed">{{ conf.name }}</a>
                {% endfor %}
            </section>
        </article>
    </section>
    <section class="confEntreprise">
        <header>
            <div>
                <h1 class="blue">Pour les particuliers</h1>
                <h2>Découvrez nos ateliers et retraites</h2>
            </div>
            <figure><img src="{{ asset('img/cerveau.gif') }}" alt="illustration-helicopter-taking-flight"></figure>
        </header>
        <article>
            <h1>Ateliers</h1>
            <section>
                {% for conf in privateWorkshop %}
                    <a href="{{ path('app_private_workshop', {'slug': conf.slug }) }}" class="bgBlue">{{ conf.name }}</a>
                {% endfor %}
            </section>
            <h2>Retraites</h2>
            <section>
                {% for conf in privateRetreat %}
                    <a href="{{ path('app_private_retreat', {'slug': conf.slug })  }}" class="bgBlue">{{ conf.name }}</a>
                {% endfor %}
            </section>
        </article>
    </section>
    <button>
        <a href="{{ path('app_conference_speakers') }}">Nos conférenciers</a>
    </button>
</section>

<section class="clientOpinion">
    <div>
        <h1>Louis Dellal</h1>
        <p><span>"</span>Chouettes idées de menu variés. Dommage de payer un supplément pour certaines recettes. Produits de bonne qualité mais en quantité insuffisante pour la viande et le poisson.<span>"</span></p>
    </div>
    <div>
        <h1>Julie Rosama</h1>
        <p><span>"</span>Les legumes sont en quantité suffisante.
            Mais la viande ou ooulet ou poisson, e trop petite quantité.
            Si on respecte à la lettre vos temps de cuisson, souvent ce n'est pas cuit.
            Il faut adapter le remps et surtout goûter de temps en temps !<span>"</span></p>
    </div>
</section>




<section class="newsletter">
    <article>
        <h1>Newsletter</h1>
        <p>Pour recevoir des informations sur les thématiques de «Booster», les conférences et séminaires, je vous invite à vous inscrire à ma newsletter.</p>
    </article>
    {{ form_start(form, {'action': path('app_newsletter.FR', { 'locale': locale})}) }}
    {{ form_errors(form) }}
    <section>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
    </section>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</section>
{% endblock %}
