{% extends 'base.html.twig' %}

{% block title %}{% trans into locale %}conference.pageTitle.pageTitle{% endtrans %}{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/conference.css') }}">
{% endblock %}
{% block body %}
<section class="conferences">
    <section class="confEntreprise">
        <header>
            <div>
                <h1 class="red">{% trans into locale %}conference.title.business.part1{% endtrans %}</h1>
                <h2>{% trans into locale %}conference.title.business.part2{% endtrans %}</h2>
            </div>
            <figure><img class="confBoostez" src="{{ asset('img/banner.jpg') }}" alt="illustration-conference-boostez"></figure>
        </header>
        <article>
            <h1>{% trans into locale %}conference.business.conf.title{% endtrans %}</h1>
            <section>
                {% if businessConf is empty %}
                    <h3>{% trans into locale %}conference.business.conf.empty{% endtrans %}</h3>
                {% endif %}
                {% for conf in businessConf %}
                    <a href="{{ path('app_business_conference', {'slug': conf.slug}) }}" class="bgRed">{{ conf.name }}</a>
                {% endfor %}
            </section>
            <h2>{% trans into locale %}conference.business.workshop.title{% endtrans %}</h2>
            <section>
                {% if businessWorkshop is empty %}
                    <h3>{% trans into locale %}conference.business.workshop.empty{% endtrans %}</h3>
                {% endif %}
                {% for conf in businessWorkshop %}
                    <a href="{{ path('app_business_workshop', {'slug': conf.slug}) }}" class="bgRed">{{ conf.name }}</a>
                {% endfor %}
            </section>
        </article>
    </section>
    <section class="confEntreprise">
        <header class="marginParticulier">
            <div>
                <h1 class="blue">{% trans into locale %}conference.title.private.part1{% endtrans %}</h1>
                <h2>{% trans into locale %}conference.title.private.part2{% endtrans %}</h2>
            </div>
            <figure><img src="{{ asset('img/cerveau.gif') }}" alt="illustration-helicopter-taking-flight"></figure>
        </header>
        <article>
            <h1>{% trans into locale %}conference.business.workshop.title{% endtrans %}</h1>
            <section>
                {% if privateWorkshop is empty %}
                    <h3>{% trans into locale %}conference.business.workshop.empty{% endtrans %}</h3>
                {% endif %}
                {% for conf in privateWorkshop %}
                    <a href="{{ path('app_private_workshop', {'slug': conf.slug }) }}" class="bgBlue">{{ conf.name }}</a>
                {% endfor %}
            </section>
            <h2>{% trans into locale %}conference.private.retreat.title{% endtrans %}</h2>
            <section>
                {% if privateRetreat is empty %}
                    <h3>{% trans into locale %}conference.private.retreat.empty{% endtrans %}</h3>
                {% endif %}
                {% for conf in privateRetreat %}
                    <a href="{{ path('app_private_retreat', {'slug': conf.slug })  }}" class="bgBlue">{{ conf.name }}</a>
                {% endfor %}
            </section>
            <h2>{% trans into locale %}conference.private.coaching.title{% endtrans %}</h2>
            <section>
                {% if privateCoaching is empty %}
                    <h3>{% trans into locale %}conference.private.retreat.empty{% endtrans %}</h3>
                {% endif %}
                {% for conf in privateCoaching %}
                    <a href="{{ path('app_private_coaching', {'slug': conf.slug })  }}" class="bgBlue">{{ conf.name }}</a>
                {% endfor %}
            </section>
        </article>
    </section>
    <button>
        <a href="{{ path('app_conference_speakers') }}">{% trans into locale %}conference.speakers{% endtrans %}</a>
    </button>
    <div class="ctcConf">
        <a class="ctcConf" href="{{ path('app_contact') }}">{% trans into locale %}boostez.company.contact{% endtrans %}</a>
    </div>
</section>

<section class="clientOpinion">
    {% for avis in review %}
        <div>
            <h1>{{avis.firstname}} {{avis.lastname}}</h1>
            {% if avis.company is defined and avis.company is not null %}
            <h2>{{ avis.company }}</h2>
            {% endif %}
            <p><span></span>{{avis.review}}<span></span></p>
        </div>
    {% endfor %}
</section>




    {% include 'partials/newsletter.html.twig' %}

{% endblock %}
