{% extends 'base.html.twig' %}
{% block title %}
    {% trans into locale %}conference.pageTitle.speakerTitle{% endtrans %}
{% endblock %}

{% block importCss %}
    {% block language %}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/speakers.css') }}">
{% endblock %}

{% block body %}
    <a href ={{ path('app_conference_speakers') }} class="retourBtn">
        <i class="fa-solid fa-arrow-down"></i>
        <h1>{% trans into locale %}conference.precise.back{% endtrans %}</h1>
    </a>
<section class="speaker">
    <header>
        <div>
            {% for speaker in speaker %}
            <h1>{{speaker.firstname}} {{speaker.lastname}}</h1>
            <section>{{speaker.desc|raw}}</section>
            <h2>{{speaker.firstname}} {{speaker.lastname}} {% trans into locale %}conference.speaker.propose{% endtrans %}:
                {% for lang in speaker.language %}
                    <span class="langSpeak">{{ lang }}</span>
                {% endfor %}.
            </h2>
            {% endfor %}
        </div>
        {% for speaker in speaker %}
        <figure><img src="{{ asset('uploads/images/speakers/') }}/{{ speaker.image }}" alt="conferencier-{{speaker.firstname}}{{speaker.lastname}}-portrait"></img></figure>
        {% endfor %}
    </header>

    {% for speaker in speaker %}
    <section class="confEntreprise">
        {% if businessConf is empty and businessWorkshop is empty %}
        {% else %}
        <header>
            <div>
                <h2 class="red">{% trans into locale %}conference.speaker.conf{% endtrans %} {{speaker.firstname}} {{speaker.lastname}}.</h2>
            </div>
        </header>
        {% endif %}
        <article>
            {% if businessConf is empty %}
                {% else %}
                <h1>{% trans into locale %}conference.business.conf.title{% endtrans %}</h1>
            {% endif %}
            <section>

                {% for conf in businessConf %}
                    <a href="{{ path('app_business_conference', {'slug': conf.slug}) }}" class="bgRed">{{ conf.name }}</a>
                {% endfor %}
            </section>
            {% if businessWorkshop is empty %}
                {% else %}
                <h2>{% trans into locale %}conference.business.workshop.title{% endtrans %}</h2>
            {% endif %}

            <section>

                {% for conf in businessWorkshop %}
                    <a href="{{ path('app_business_workshop', {'slug': conf.slug}) }}" class="bgRed">{{ conf.name }}</a>
                {% endfor %}
            </section>
        </article>
    </section>

    <section class="confEntreprise">
        {% if privateWorkshop is empty and privateRetreat is empty %}
            {% else %}
        <header>
            <div>

                <h2 class="blue">{% trans into locale %}conference.speaker.join{% endtrans %} {{speaker.firstname}} {{speaker.lastname}} {% trans into locale %}conference.speaker.workshop{% endtrans %}</h2>
            </div>
        </header>
        {% endif %}
        <article>                
            {% if privateWorkshop is empty %}
                {% else %}
                <h1>{% trans into locale %}conference.business.workshop.title{% endtrans %}</h1>
            {% endif %}
            <section>
                {% for conf in privateWorkshop %}
                    <a href="{{ path('app_private_workshop', {'slug': conf.slug }) }}" class="bgBlue">{{ conf.name }}</a>
                {% endfor %}
            </section>
            {% if privateRetreat is empty %}
                {% else %}
                <h1>{% trans into locale %}conference.private.retreat.title{% endtrans %}</h1>
            {% endif %}
            <section>
                {% for conf in privateRetreat %}
                    <a href="{{ path('app_private_retreat', {'slug': conf.slug })  }}" class="bgBlue">{{ conf.name }}</a>
                {% endfor %}
            </section>
        </article>
    </section>
    {% endfor %}

</section>

{% endblock %}

